<div id="matchup-list">
  <ul class="matchups">
    <% if @team.matchups.any? %>
      <h3>Team Matchups</h3>
      <%= render partial: 'matchups/simple_matchup', collection: @team.matchups, as: :matchup %>
    <% end %>
  </ul>
</div>