<% provide(:title, @team.name) %>
<h1><%= @team.name %></h1>
<h2><%= @team.owner %></h2>
<div class="center">
  <%= link_to "Show leagues", leagues_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Show teams", teams_path, class: "btn btn-large btn-primary" %>
</div>