<div class="center hero-unit">
  <h1>Fantasy Football Scheduler</h1>
  <h2>
    This will eventually allow scheduling.
  </h2>
  <%= link_to "Show leagues", leagues_path, class: "btn btn-large btn-primary" %>
</div>
