<div id="team-list">
  <ul class="teams">
    <% if @league.teams.any? %>
      <h3>Teams</h3>
      <%= render @league.teams %>
    <% end %>
    <li>
      <%= render 'leagues/team_counter' %>
      <% if @league.has_room? %>
        <div class="center">
          <%= link_to "Add new team", new_league_team_path(@league), class: "btn btn-mini btn-primary" %>
        </div>
      <% end %>
    </li>
  </ul>
</div>