<% provide(:title, @league.name) %>
<h1><%= @league.name %></h1>
<%= render 'leagues/team_list' %>
<div class="center">
  <%= link_to "Show leagues", leagues_path, class: "btn btn-large btn-primary" %>
</div>